.guest-hero-bg {
    margin: 0;
    background-image: url('./../../../../assets/img/hero-image.png');
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width: 900px) {
    .guest-hero-bg {
        display: none;
    }
}

.guest-footer {
    display: flex;
    justify-content: center;
    height: 25%;
    align-items: flex-end;
}

.guest-logo-wrapper {
    padding: 0 0.3em;
}