<mat-toolbar class="dashboard-home-header">
  <div class="flex w-100">
    <div class="flex app-header-column-one">
      <mat-checkbox class="app-large-checkbox"></mat-checkbox>
      <span class="app-home-header-label">
        Date
      </span>
    </div>
    <div class="flex app-header-column-two">
      <span class="divider">|</span>
      <span class="app-home-header-label">
        Incident Type
      </span>
    </div>
    <div class="flex app-header-column-three">
      <span class="divider">|</span>
      <span class="app-home-header-label">
        Status
      </span>
    </div>
  </div>
</mat-toolbar>

<!-- 
  Data would normally go down here
  Realistically, I would use a table for showing the data and the headers would be part of that table
  But for demo purposes, no data, and just a static header
-->