$gaggle-primary: (
    50 : #eaebf3,
    100 : #cacee2,
    200 : #a7aecf,
    300 : #838dbb,
    400 : #6974ad,
    500 : #4e5c9e,
    600 : #475496,
    700 : #3d4a8c,
    800 : #354182,
    900 : #253070,
    A100 : #b3bdff,
    A200 : #8091ff,
    A400 : #4d65ff,
    A700 : #334fff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$gaggle-secondary: (
    50 : #e3eefc,
    100 : #b9d4f8,
    200 : #8bb8f3,
    300 : #5d9bee,
    400 : #3a85ea,
    500 : #1770e6,
    600 : #1468e3,
    700 : #115ddf,
    800 : #0d53db,
    900 : #0741d5,
    A100 : #fefeff,
    A200 : #cbd7ff,
    A400 : #98b0ff,
    A700 : #7f9cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);